/* actions */

.actions {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline;
        margin-right: 5px;
        a {
            display: inline-block;
            padding: 20px;
            padding-top: 6px;
            padding-bottom: 6px;
            color: #0a0a0aa6;
            text-decoration: none;
            font-size: small;
            border-radius: 3px;
            box-shadow: 0px 2px 1px silver;
            transition: all 0.3s ease;
        }
        a:hover {
            box-shadow: 0px 3px 2px #0a0a0a;
        }
        a:hover {
            display: inline-block;
            opacity: 0.8;
        }
    }
    .edit a {
        background-color: #4c85cf63;
    }
    .delete a {
        background-color: rgba(220, 20, 60, 0.418);
    }
}