@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Metropolis Bold';
    src: url('../fonts/Metropolis-Bold.ttf');
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Regular.ttf');
}

@font-face {
    font-family: 'Metropolis Extra Light';
    src: url('../fonts/Metropolis-ExtraLight.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.ttf');
}