* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: auto;
    padding: 0;
    font-size: 14px;
    a {
        color: #2e2e2e;
        text-decoration: none;
    }
    a:hover {
        color: crimson;
    }
}