* {
    font-family: "Metropolis", sans-serif;
}

html {
    // scroll-behavior: smooth;
    body {
        margin: auto;
        padding: 0;
        padding-top: 90px;
        font-size: 14px;
        a {
            color: $color-secondary;
            text-decoration: none;
        }
        a:hover {
            color: $color-primary;
        }
    }
}