// Fonts
$font-heading: 'Poppins Bold';
$font-normal: 'Poppins';
// Font sizes
$font-size: 16px;
$font-size-large: 3rem;
$font-size-medium: 2rem;
$font-size-small: 14px;
// Colors
$color-primary: #DC143C;
$color-secondary: #2F323A;
$color-accent: #F4FEC1;
$color-jetblack: #0a0a0a;
$color-gray: gray;
$color-burlywood: burlywood;
$color-brown-light: rgba(165, 42, 42, 0.151);
$color-text: #2f3846;
$color-heading: #061b41;
$color-text-fade: #798aa5;