.search-form {
    margin-bottom: 25px;
}


/* forms */

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 25px;
    width: 100%;
    .form-inner {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding: 10px;
        fieldset {
            margin-bottom: 25px;
            padding: 0;
            border: none;
        }
    }
    .form-caption {
        display: inline;
        margin: 10px;
        padding: 5px;
        padding-left: 0;
        width: 90%;
        font-size: 1.75rem;
        color: #454545;
        border-bottom: solid 4px #454545;
    }
    fieldset {
        border: none;
        input,
        textarea {
            margin: auto;
            margin-top: 15px;
            padding: 5px;
            width: 90%;
            outline: none;
        }
        .rule {
            color: #2e2e2e;
        }
        button {
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .input-error {
            border: solid 1px red;
        }
    }
}

.form-small {
    width: 50%;
}

.form-error {
    margin: 1em;
    padding: 1em;
    width: 90%;
    color: red;
    background-color: rgba(220, 20, 60, 0.144);
}

@media (max-width: 576px) {
    .form-small {
        width: 100%;
    }
    .form-error {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        color: red;
        background-color: rgba(220, 20, 60, 0.144);
    }
    .input-error {
        outline: none;
        border: solid 1px red;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .form {
        width: 100%;
        input,
        textarea {
            width: 100%;
        }
    }
}