.search-form {
    margin-bottom: 25px;
}

.top-search-form {
    width: 25%;
    transition: 0.30s ease all;
    &:hover {
        width: 30%;
    }
    .search-btn {
        margin-right: 5px;
    }
    .search-input {
        padding-left: 25px;
        min-width: 100px;
    }
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 25px;
    width: 100%;
    .form-inner {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding: 10px;
        fieldset {
            margin-bottom: 25px;
            padding: 0;
            border: none;
        }
    }
    .form-caption {
        display: inline;
        margin: 10px;
        padding: 5px;
        padding-left: 0;
        width: 90%;
        font-size: 1.75rem;
        color: $color-blakish;
        border-bottom: solid 4px $color-blakish;
    }
    fieldset {
        border: none;
        input,
        textarea {
            margin: auto;
            margin-top: 15px;
            padding: 5px;
            width: 90%;
            outline: none;
        }
        input.radio {
            margin-right: 15px;
            width: 15px;
            height: 15px;
        }
        .rule {
            color: $color-blakish;
        }
        button {
            padding: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .input-error {
            border: solid 1px $color-primary;
        }
    }
}

.form-small {
    width: 50%;
}

.form-error {
    margin: 1em;
    padding: 1em;
    width: 90%;
    color: $color-primary;
    background-color: $color-red-border;
}

@media (max-width: $mobile) {
    .form-small {
        width: 100%;
    }
    .form-error {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $color-primary;
        background-color: $color-red-border;
    }
    .input-error {
        outline: none;
        border: solid 1px $color-primary;
    }
}

@media (max-width: $tablet) and (min-width: $mobile) {
    .form {
        width: 100%;
        input,
        textarea {
            width: 100%;
        }
    }
}