/* sidebar */

.sidebar {
    border-radius: 6px;
    overflow: hidden;
    .sidebar-caption {
        margin: 0;
        padding: 20px;
        font-size: 38px;
        color: rgba(192, 192, 192, 0.562);
        border-bottom: solid 1px #454545;
    }
    .sidebar-list {
        margin: 0;
        padding: 10px;
        padding-bottom: 20px;
        list-style-type: none;
        li a {
            display: block;
            padding: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            text-decoration: none;
            color: #737373;
        }
        li a:hover {
            color: #8a8a8a;
        }
    }
    .subscription-form {
        padding: 20px 10px;
        background-color: cadetblue;
        border: solid 1px whitesmoke;
    }
}

@media (max-width: $mobile) {
    .sidebar {
        width: 100%;
    }
}