/* sidebar */

.sidebar {
    border-radius: 6px;
    overflow: hidden;
    .sidebar-inner {
        .sidebar-content {
            .sidebar-header {
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 5px;
                background-color: khaki;
            }
        }
    }
    .sidebar-caption {
        margin: 0;
        padding: 20px;
        font-size: 38px;
        color: $color-blakish;
        border-bottom: solid 1px $color-blakish;
    }
    .sidebar-list {
        margin: 0;
        padding: 10px;
        padding-bottom: 20px;
        list-style-type: none;
        li a {
            display: block;
            padding: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            text-decoration: none;
            color: $color-blakish;
        }
        li a:hover {
            color: $color-blakish;
        }
    }
    .subscription-form {
        padding: 20px 10px;
        background-color: transparent;
        background: radial-gradient(circle, $transparent 0%, $color-blakish 35%, $color-gray 100%);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        border: solid 1px $color-secondary;
        .caption {
            color: $transparent;
        }
    }
}

@media (max-width: $mobile) {
    .sidebar {
        width: 100%;
    }
}